.about__wrapper {

}
.about {

}
@media screen and (min-width: 1024px)  {
    .about .img {
        height: 30rem;
        object-fit: cover;
        margin: 0;
    }
    .about .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .about .item .about__box {
        flex-grow: 1;
        padding: 3rem;
     }
    .about .item:first-child .about__box {
       background-color: var(--second-brand-color);
    }
    .about .item:nth-child(2) .about__box {
        background-color: var(--first-brand-color);
    }
    .about .item:last-child .about__box {
        background-color: var(--third-brand-color);
    }
    .about .item:nth-child(even) {
        flex-direction: row-reverse;
    }
}